.d-row {
  display: flex;
  flex-direction: row;
}
.d-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}
.fw-rev {
  flex-wrap: wrap-reverse !important;
}

.p {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 2rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}


a{
  text-decoration: none;
  color: inherit;
}